// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * FriendlyElec NanoPC-T4 DSM loader device tree overlay target.
 *
 * Keep the real hardware compatible string so Rockchip platform drivers bind,
 * but expose the model DSM expects from the DS423 junior ramdisk.
 */

/dts-v1/;
#include "rk3399-nanopc-t4.dts"

/ {
	model = "synology_rtd1619b_ds423";
	compatible = "friendlyelec,nanopc-t4", "friendlyarm,nanopc-t4", "rockchip,rk3399";

	ir-receiver {
		status = "disabled";
	};

	gpio-keys {
		status = "disabled";
	};

	internal_slot@1 {
		protocol_type = "sata";

		ahci {
			pcie_root = "0000:00:00.0,00.0";
			ata_port = <0x00>;
		};
	};

	internal_slot@2 {
		protocol_type = "sata";

		ahci {
			pcie_root = "0000:00:00.0,00.0";
			ata_port = <0x01>;
		};
	};

	internal_slot@3 {
		protocol_type = "sata";

		ahci {
			pcie_root = "0000:00:00.0,00.0";
			ata_port = <0x02>;
		};
	};

	internal_slot@4 {
		protocol_type = "sata";

		ahci {
			pcie_root = "0000:00:00.0,00.0";
			ata_port = <0x03>;
		};
	};

	internal_slot@5 {
		protocol_type = "sata";

		ahci {
			pcie_root = "0000:00:00.0,00.0";
			ata_port = <0x04>;
		};
	};

	internal_slot@6 {
		protocol_type = "sata";

		ahci {
			pcie_root = "0000:00:00.0,00.0";
			ata_port = <0x05>;
		};
	};
};

&usbdrd_dwc3_0 {
	dr_mode = "host";
	status = "okay";
};

&usbdrd_dwc3_1 {
	dr_mode = "host";
	status = "okay";
};

&vbus_typec {
	regulator-always-on;
	regulator-boot-on;
};

&u2phy0_otg {
	phy-supply = <&vbus_typec>;
};

&u2phy1_otg {
	phy-supply = <&vcc5v0_host0>;
};
