// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * RK3566 OEC BOX WXY4 board support.
 *
 * This file intentionally keeps only board-level differences.  The RK3566
 * SoC and DSM/NAS common wiring come from rk3566-dsm-common.dtsi.
 */

#include "rk3566-dsm-common.dtsi"
#include <dt-bindings/leds/common.h>

/ {
	model = "Rockchip RK3566 OEC BOX WXY4";
	compatible = "rockchip,rk3566-oec-box-wxy4", "rockchip,rk3566";

	aliases {
		ethernet1 = &gmac1;
		mmc0 = &sdhci;
		mmc1 = &sdmmc0;
		sata2 = &sata2;
	};

	/delete-node/ display-subsystem;

	gpio-leds {
		status = "okay";
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&led_pins>;

		green-led {
			color = <LED_COLOR_ID_GREEN>;
			gpios = <&gpio3 RK_PB4 GPIO_ACTIVE_LOW>;
			default-state = "on";
			retain-state-suspended;
		};

		blue-led {
			color = <LED_COLOR_ID_BLUE>;
			gpios = <&gpio3 RK_PB3 GPIO_ACTIVE_LOW>;
			default-state = "off";
			retain-state-suspended;
		};

		red-led {
			color = <LED_COLOR_ID_RED>;
			gpios = <&gpio0 RK_PC3 GPIO_ACTIVE_LOW>;
			default-state = "off";
			retain-state-suspended;
		};
	};

	vcc2v5_sys: vcc2v5-ddr {
		compatible = "regulator-fixed";
		regulator-name = "vcc2v5-sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <2500000>;
		regulator-max-microvolt = <2500000>;
		vin-supply = <&vcc3v3_sys>;
	};

	vcc5v0_host: vcc5v0-usb-host-regulator {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio0 RK_PC6 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc5v0_host_en>;
		regulator-name = "vcc5v0_usb_host";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vdda_0v9: vdda-0v9 {
		compatible = "regulator-fixed";
		regulator-name = "vdda_0v9";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <900000>;
		regulator-max-microvolt = <900000>;
		vin-supply = <&vcc3v3_sys>;
	};
};

&combphy1_usq {
	assigned-clocks = <&pmucru CLK_PCIEPHY1_REF>;
	assigned-clock-rates = <100000000>;
	status = "okay";
};

&combphy2_psq {
	rockchip,enable-ssc;
	status = "okay";
};

&cpu1 {
	cpu-supply = <&vdd_cpu>;
};

&cpu2 {
	cpu-supply = <&vdd_cpu>;
};

&cpu3 {
	cpu-supply = <&vdd_cpu>;
};

&gmac1 {
	phy-mode = "rgmii";
	clock_in_out = "input";
	phy-supply = <&vcc_3v3>;

	snps,reset-gpio = <&gpio4 RK_PC2 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 20000 100000>;

	assigned-clocks = <&cru SCLK_GMAC1_RX_TX>, <&cru SCLK_GMAC1>;
	assigned-clock-parents = <&cru SCLK_GMAC1_RGMII_SPEED>,
				 <&gmac1_clkin>;

	pinctrl-names = "default";
	pinctrl-0 = <&gmac1m1_miim
		     &gmac1m1_tx_bus2
		     &gmac1m1_rx_bus2
		     &gmac1m1_rgmii_clk
		     &gmac1m1_rgmii_bus
		     &gmac1m1_clkinout>;

	tx_delay = <0x4f>;
	rx_delay = <0x2d>;

	phy-handle = <&rgmii_phy1>;
	status = "okay";
};

&mdio1 {
	rgmii_phy1: ethernet-phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <1>;
		realtek,led-data = <0xc160>;
	};
};

&gpu {
	mali-supply = <&vdd_logic>;
};

&rknpu {
	reg = <0x0 0xfde40000 0x0 0xb000>;
};

&i2s0_8ch {
	status = "okay";
};

&i2s1_8ch {
	rockchip,trcm-sync-tx-only;
	status = "okay";
};

&pcie2x1 {
	status = "disabled";
};

&pmu_io_domains {
	status = "okay";
	pmuio1-supply = <&vcc_3v3>;
	pmuio2-supply = <&vcc_3v3>;
	vccio1-supply = <&vcc_1v8>;
	vccio3-supply = <&vcc_3v3>;
	vccio4-supply = <&vcc_1v8>;
	vccio5-supply = <&vcc_3v3>;
	vccio6-supply = <&vcc_1v8>;
	vccio7-supply = <&vcc_3v3>;
};

&sata2 {
	status = "okay";
};

&sdmmc0 {
	bus-width = <4>;
	cap-sd-highspeed;
	cd-gpios = <&gpio0 RK_PA4 GPIO_ACTIVE_LOW>;
	disable-wp;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc0_bus4 &sdmmc0_clk &sdmmc0_cmd &sdmmc0_det>;
	vmmc-supply = <&vcc_3v3>;
	status = "okay";
};

&sdhci {
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
};

&spi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi1m1_cs0 &spi1m1_pins>;
};

&tsadc {
	rockchip,hw-tshut-mode = <1>;
	rockchip,hw-tshut-polarity = <0>;
};

&uart2 {
	syno,fixed-baudrate = <1500000>;
	status = "okay";
};

&uart5 {
	status = "disabled";
};

&uart7 {
	status = "okay";
};

&u2phy0_host {
	phy-supply = <&vcc5v0_host>;
	status = "okay";
};

&u2phy0_otg {
	phy-supply = <&vcc5v0_host>;
	status = "okay";
};

&u2phy1_host {
	phy-supply = <&vcc5v0_host>;
	status = "okay";
};

&u2phy1_otg {
	phy-supply = <&vcc5v0_host>;
	status = "okay";
};

&usb2phy1 {
	status = "okay";
};

&usb_host0_ehci {
	status = "okay";
};

&usb_host0_ohci {
	status = "okay";
};

&usb_host1_ehci {
	status = "okay";
};

&usb_host1_ohci {
	status = "okay";
};

&pinctrl {
	leds {
		led_pins: led-pins {
			rockchip,pins = <3 RK_PB3 RK_FUNC_GPIO &pcfg_pull_none>,
					<3 RK_PB4 RK_FUNC_GPIO &pcfg_pull_none>,
					<0 RK_PC3 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	sata {
		sata_pm_reset: sata-pm-reset {
			rockchip,pins = <0 RK_PA6 RK_FUNC_GPIO &pcfg_output_high>;
		};
	};

	usb {
		vcc5v0_host_en: vcc5v0-host-en {
			rockchip,pins = <0 RK_PC6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};
